body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.centered-card {
    text-align: center;
}

.card {
    background-color: rgba(21, 114, 80, 0.7); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease, opacity 0.3s ease; /* Smooth transitions on hover */
}

.card:hover {
    background-color: rgb(120, 226, 200); /* Fully opaque white background on hover */
    opacity: 1; /* Fully opaque card on hover */
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card:hover img {
    opacity: 0.5; /* Fully opaque image on hover */
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}
